<%- include('../partials/header.ejs') %>
    <main>
        <div class="banner">
            <h1>Products</h1>
            <p>Welcome To Product Page</p>
        </div>
        <div>
            <h2>Product lists</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout. </p>
        </div>
        <% product.forEach((ele)=>{ %>
            <div class="card" style="width: 18rem;">
                <img src="/uploads/<%= ele.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= ele.name %>
                    </h4>
                    <p>Price: $<%= ele.price %>
                    </p>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link">Add to Cart</a>
                    <a href="/product/<%= ele.slug %>/show" class="card-link">View More</a>
                </div>
            </div>
            <% } ) %>
                </div>
    </main>